<div class="container">
  <form action="/postE/{{item.item_id}}" method="POST" enctype="multipart/form-data">
    <div>
      <label for="title">Título de publicación:</label>
      <input type="text" name="title" id="title" value="{{item.title}}" />
    </div>

    <div>
      <label for="price">Precio:</label>
      <input type="text" name="price" id="price" value="{{item.price}}" />
    </div>

    <div>
      <label for="quantity">Cantidad disponible:</label>
      <input type="number" name="quantity" id="quantity" value="{{item.price}}" min="1" />
    </div>

    <div>
      <label for="select__currency">Seleccione tipo de moneda:</label>
      <select id="select__currency" name="currency">
        {{#select currencies.id}}
        {{#each currencies}}
          <option value="{{this.id}}">
            {{this.description}} ({{this.symbol}})
          </option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div>
      <label for="select__listing_type">Selecciones tipo de listado:</label>
      <select id="select__listing_type" name="listing_type">
        {{#each listing_types}}
          <option value="{{this.id}}">
            {{this.name}}
          </option>
        {{/each}}
      </select>
    </div>

    <div>
      <label>Seleccionar condición del producto:</label>
      <label for="condition__new">
        <input checked type="radio" name="condition" id="condition__new" value="{{item.}}" /> Nuevo
      </label>
      &nbsp;&nbsp;
      <label for="condition__used">
        <input type="radio" name="condition" id="condition__used" value="used" /> Usado
      </label>
    </div>

    <div>
      <label for="description">Descripcion del producto:</label><br />
      <textarea name="description" id="description" cols="30" rows="5">{{item.description}}</textarea>
    </div>

    <div>
      <label for="picture">Foto del producto:</label>
      <input type="file" name="picture" id="picture"  required/>
    </div>

    <div>
      <button type="submit">Publicar edición</button>
    </div>
  </form>
  
</div>